*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 800px;
    margin: 0 auto;
}

a{
    color: dodgerblue;
}

/* Nav Bar */

.nav{
    background-color: black;
    color: white;
}

/* Your Feed */

.feed-container{
    display: flex;
    justify-content: space-between;
}
.feed{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Main User */

.user-left{
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 140px;
    width: auto;
}

.user-left img{
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}

.user-left a{
    font-size: 1.3rem;
}

.user-left h1{
    margin-top: 20px;
    font-size: 1.8rem;
}

/* Other Users */

.user-box{
    border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: auto;
    padding: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

span{
    font-size: 1.3rem;
}

.filler{
    font-size: 1.2rem;
}

button{
    background-color: royalblue;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px black;
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 1.1rem;
}
